* {
	color: #000000;
	background-color: #EFEFEF;
}

.navButton {
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	padding: 2px;
	color: #000000;
	background-color: #FFFFFF;
}

.rightAlign {
	float: right;
	margin-right: 2px;
}

.contentBox {
	width: fill;
	padding: 6px;
	margin: 10px;
}

#borderElement {
	border: 2px solid #DFDFDF;
	background: #FFFFFF;
}

#navInclude {
	background-color: transparent;
}

body {
	background-color: transparent;
}

h1 {
	background-color: transparent;
}

h1 * {
	background-color: transparent;
}

div:not(#navInclude) * {
	background-color: #FFFFFF;
}

div:not(#navInclude) {
	background-color: #FFFFFF;
}

.padded {
	padding-bottom:20px;
}

.scalingImage {
	max-width: 96%;
	max-height: 96%;
	display: block;
	margin: auto;
}
.scalingVideo {
	width: 38vw;
	height: 21vw;
	display: block;
	margin: auto;
}
